.radio-inline.s_pt_0 {
    padding-top: 0;
}
.s_mb_15 {
    margin-bottom: 15px;
}
.s_mb_5 {
    margin-bottom: 5px;
}
.form-group {
    margin-bottom: 20px;
}
.form-inline {
    margin-bottom: 20px;
}
h3 {
    margin-bottom: 20px;
}